@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700;800;900&family=Liu+Jian+Mao+Cao&family=Raleway:wght@600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
}

 body::-webkit-scrollbar{
    display:none;
}

body {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.homePageclass{
        overflow: hidden;
}

@keyframes leftdown {
    from {transform: translateX(10%) translateY(-10%)}
    to{transform: translateX(0) translateY(0);
        opacity: 1;}
}

@keyframes leftdown15 {
    from {transform: translateX(15%) translateY(-15%)}
    to{transform: translateX(0) translateY(0);
        opacity: 1;}
}

@keyframes leftdown5 {
    from {transform: translateX(5%) translateY(-5%)}
    to{transform: translateX(0) translateY(0);
        opacity: 1;}
}

@keyframes leftup {
    from {transform: translateX(10%) translateY(10%)}
    to{transform: translateX(0) translateY(0);
        opacity: 1;}
}

@keyframes leftup5 {
    from {transform: translateX(5%) translateY(5%)}
    to{transform: translateX(0) translateY(0);
        opacity: 1;}
}

@keyframes rightdown {
    from {transform: translateX(-10%) translateY(-10%)}
    to{transform: translateX(0) translateY(0);
        opacity: 1;}
}

@keyframes rightonly{
    from {transform: translateX(-10%)}
    to{transform: translateX(0);
        opacity: 1;}
}

@keyframes rightup {
    from {transform: translateX(-10%) translateY(10%)}
    to{transform: translateX(0) translateY(0);
        opacity: 1;}
}

@keyframes rightup5 {
    from {transform: translateX(-5%) translateY(2%)}
    to{transform: translateX(0) translateY(0);
        opacity: 1;}
}

@keyframes downonly {
    from {transform: translateY(-10%)}
    to{transform: translateY(0);
        opacity: 1;}
}

@keyframes downonly5 {
    from {transform: translateY(-5%)}
    to{transform: translateY(0);
        opacity: 1;}
}

@keyframes fade{
    from {}
    to{opacity: 1;}
}

img{
    z-index: 1;
}


#p1{
    position: absolute;
    width: 5vw;
    left: 70vw;
    top: 20vh;
    opacity: 0;
    animation: leftdown15 1s forwards ease;
}


#p2{
    position: absolute;
    width: 10vw;
    left: 60vw;
    top: 0;
    opacity: 0;
    overflow: hidden;
    animation: leftdown 1s forwards ease;
}

#p3{
    position: absolute;
    width: 12vw;
    right: 20vw;
    top: 50vh;
    opacity: 0;
    animation: leftup 1s forwards ease;
}

.p4{
    position: absolute;
    height: 20vw;
    right: 0;
    top: 0;
    opacity: 0;
    animation: leftdown5 1s forwards ease;
}

.p4Menu{
    position: absolute;
    height: 20vw;
    min-height: 400px;
    right: 0;
    top: 0;
    opacity: 0;
    animation: fade 1s forwards ease;
}

#p5{
    position: absolute;
    width: 19.5vw;
    right: 0;
    bottom: 0vh;
    opacity: 0;
    animation: leftup5 1s forwards ease;
}


#p6{
    position: absolute;
    width: 27.5vw;
    right: 15vw;
    bottom: 0;
    opacity: 0;
    animation: leftup 1s forwards ease;
}

#p7{
    position: absolute;
    width: 15vw;
    left: 25vw;
    top: 30vh;
    opacity: 0;
    animation: rightonly 1s forwards ease;
}

#p8{
    position: absolute;
    width: 15vw;
    top: 0;
    left: 25vw;
    opacity: 0;
    animation: rightdown 1s forwards ease;
}

#p9{
    position: absolute;
    width: 10vw;
    left: 0;
    top: 0;
    opacity: 0;
    animation: rightdown 1s forwards ease;
}

#p10{
    position: absolute;
    width: 18vw;
    left: 0;
    top: 20vh;
    opacity: 0;
    animation: rightonly 1s forwards ease;
}

#p11{
    position: absolute;
    width: 20vw;
    left: 10vw;
    top: 0;
    opacity: 0;
    animation: rightdown 1s forwards ease;
}

#p12{
    position: absolute;
    left:0;
    bottom: 0;
    width: 35vw;
    opacity: 0;
    animation: rightup5 1s forwards ease;
}

#title{
    position: relative;
    height: 100px;
    width: 550px;
    margin: 30vh auto;
    font-size: 35px;
    text-align: center;
    z-index: 2;
}

#name{
    padding: 50px 0;
    font-weight: 1100;
    opacity: 0;
    animation: downonly 0.5s forwards ease 0.5s;
    font-family: 'Raleway', sans-serif;
}

#shiro{
    font-family: 'Liu Jian Mao Cao', 'cursive';
    font-size: 12vw;
    position: absolute;
    height: 45vh;
    top: 5vh;
    width: 10vw;
    left: 47%;
    color:rgba(0, 0, 0, 0.082);
    opacity: 0;
    animation: downonly5 3s forwards ease 1s;
}

#shiro2{
    font-family: 'Liu Jian Mao Cao', 'cursive';
    font-size: 120px;
    position: absolute;
    top: 40px;
    width: 5vw;
    left: 6vw;
    color:rgba(0, 0, 0, 0.082);
    opacity: 0;
    animation: downonly5 0.5s forwards ease 1.5s;
}

#homeButton{
    font-weight: 800;
    position: relative;
}

#menuButton{
    position: relative;
    right: 0;
}

#contactButton{
    position: relative;
    width: 230px;
    right: 0;
}

#title>p{
    font-size: 20px;
    font-weight: 100;
    opacity: 0;
    animation: downonly 0.5s forwards ease 1s;
    color: rgb(82, 82, 82);
}

#buttonDiv{
    display: flex;
    justify-content: space-evenly;
}


#buttonDiv>button{
    font-size: 20px;

    height: 50px;
    width: 160px;
    border-radius: 30px;
    margin: 40px;
    border: 2px solid transparent;
    background-color: rgb(112, 214, 214, 0.63);
    opacity: 0;
    animation: downonly 0.5s forwards ease 1.5s;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#buttonDiv>button:hover{
    background-color: rgba(112, 214, 214);
    border: 2px solid teal;
}

#map {
    width: 30vw;
    min-width: 500px;
}

nav{
    top: 100px;
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    height: 70px;
    width: 40vw;
    min-width: 600px;
    background-color: rgba(112, 214, 214, 0.747);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    opacity: 0;
    animation: 1s navStart ease forwards;
    z-index: 2;
}

@keyframes navStart{
    from{ opacity: 0;
        width: 15vw;}
    to{ width: 40vw;
        opacity: 1;}
}

nav>div>button{
    font-size: 30px;
    font-weight: 600;
    padding: 0 20px;
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    animation: fade 0.5s ease forwards 1s;
}

#menu{
    position: relative;
    top: 180px;
    bottom: 180px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 65vw;
    justify-content: space-evenly;
    background-color: rgba(192, 192, 192, 0.315);
    margin: 30px auto;
    border-radius: 30px;
    min-width: 600px;
    z-index: 2;
    opacity: 0;
    animation: fade 0.5s ease forwards;
}

#contactContainer{
    font-size: 20px;
    position: relative;
    top: 180px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 40vw;
    justify-content: space-evenly;
    background-color: rgba(192, 192, 192,  0.315);
    margin: 30px auto;
    border-radius: 30px;
    min-width: 600px;
    z-index: 2;
    opacity: 0;
    animation: fade 0.5s ease forwards;
    text-align: left;
}

.bold{
    font-size: 30px;
}

.menuImg{
    display: block;
    position: absolute;
    height: 200px;
    width: 200px;
    left: 75px;
    top: 20px;
    opacity: 0;
    animation: fade 0.5s ease 0.5s forwards;
}

.menuImgBg{
    display: block;
    position: absolute;
    height: 350px;
    width: 350px; 
    transform: translateY(-50px);
    opacity: 0;
    animation: fade 0.5s ease 0.25s forwards;
}

.itemName{
    font-size: 20px;
    font-weight: 700;
}

.itemText{
    padding: 10px;
    opacity: 0;
    animation: fade 0.5s ease 0.5s forwards;
}

.itemDesc{
    font-weight: 100;
    font-size: 16px;
    font-family: sans-serif;
}

.menuitem{
    position: relative;
    display: grid;
    grid-template-columns: 350px 300px;
    grid-template-rows: 350px;
    margin: 20px 0px;
}

a{
    color: white;
    text-decoration: none;
    display: block;
}


.attribution{
    position: fixed;
    bottom: 60px;
    right: 80px;
    z-index: 3;
}

.inner>h1{
    font-size: 35px;
    line-height: 1;
}

.inner{
    text-align: left;
    background: rgba(112, 214, 214, 0.705);
    padding: 2em;
    border-radius: 10px;
    width: 300px;
    clip-path: circle(10% at 85% 85%);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.inner:hover{
    clip-path: circle(75%);
    background: rgb(231, 149, 218);
}

.inner:hover span{
    opacity: 0;
}

span{
    float: right;
    bottom: 24px;
    right: 7px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: all .5s;
    position: relative;
    margin-right: 4%;
}


.inner>h1{
    color: white;
}